<div class="header">
  <div class="logo"> 
    <a href="<%=@image%>"> <%= image_tag 'IFG_logo.png', class:'logo_image'  %> </a>
  </div>
  <div class="link_list">
    <a class="link_item" href="<%=@home%>"> Home </a>
    <a class="link_item" href="/home/about"> About </a>
    <a class="link_item" href="<%=@link%>"> <%=@language%> </a>
  </div>
</div>
